#title{ 		   	  	  				  
    color:white; 		   	  	  				  
    font-family: Impact, fantasy; 		   	  	  				  
} 		   	  	  				  
                                   
#head{ 		   	  	  				  
   background-color:red; 		   	  	  				  
                                   
} 	


body{
    background-color: black;
}